body {

  #offers-book {
    font-size: 0.8rem;
    tr {
      cursor: pointer;
      &.type-sell {
        &:hover {
          background-color: rgba(var(--bs-danger-rgb), 0.1) !important;
        }
        &.sel-offers-book {
          background-color: rgba(var(--bs-danger-rgb), 0.4) !important;
        }
      }
      &.type-buy {
        &:hover {
          background-color: rgba(var(--bs-success-rgb), 0.1) !important;
        }
        &.sel-offers-book {
          background-color: rgba(var(--bs-success-rgb), 0.4) !important;
        }
      }
    }
  }

  .wait-process-div {
    display: none;
  }

  &.wait-process-body {
    .wait-process-div {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.2);
      z-index: 1000;
      display: flex !important;
      flex-direction: column;
      .wait-process-div-inner {
        background-color: var(--bs-primary);
        padding: 1rem;
        text-align: center;
        * {
          color: #fff;
        }
      }
    }
  }

}

@keyframes flashFade {
  0%   { background-color: var(--bs-primary); }   /* bright yellow */
  100% { background-color: transparent; }
}

.table tbody tr.flash {
  animation: flashFade 2s ease-out;
}


.flash {
  animation: flashFade 2s ease-out;
}